.checkbox-label-container {
    width: 70%;
    height: 1.5em;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
}


.checkbox-label-container > input {
    width: 1em;
    height: 100%;
}

.checkbox-label-container > label {
    text-transform: capitalize;
    width: 80%;
    height: 100%;
}